.legend {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 12px;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend div {
    margin-bottom: 5px;
}

.legend-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 50%;
}