
body {
	margin: 0;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	-ms-overflow-style: ms-autohiding-scrollbar;
	background: linear-gradient(90deg, #B4E6E3 0%, #5249BF 100%, #fff 100%);
}

:root {

  /* dark mode carte */
  --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

*,
:before,
:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-ms-box-sizing: inherit;
	-o-box-sizing: inherit;
	box-sizing: inherit;
}

html, body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

html {
	overflow: hidden;
}

#page-wrap {
	position: relative;
	display: block;
	clear: both;
	background: none;
	color: #000;
	text-decoration: none;
	padding: 3rem 0;
	width: 100%;
	height: 100%;
}

#inner-wrap {
	position: absolute;
	top: 3rem;
	left: 0;
	right: 0;
	bottom: 3rem;
	display: table;
	width: 100%;
	height: 100%;
	min-height: 322px;
	overflow: visible;
}

.logo {
	position: absolute;
	z-index: 1;
	top: 3rem;
	left: 2rem;
	display: block;
	width: 9vmax;
	height: 9vmax;
	min-width: 50px;
	min-height: 50px;
}

.waves {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	min-width: 100%;
	min-height: 70%;
	margin: auto 0;
}

.text {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	width: 83%;
	height: 100%;
	margin: auto;
}

img, svg {
	display: block;
	overflow: visible;
	pointer-events: none;
}

.group:before,
.group:after {
  content: "";
  display: table;
  clear: both;
}
.group {
  zoom: 1;
}

/* div class logo_text : centré, police 25 */
.logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-size: 55px;
  font-weight: bold;
}

.navMenu {
position: absolute;
top: 5%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.navMenu a {
color: #f6f4e6;
text-decoration: none;
font-size: 1.8em;
text-transform: uppercase;
font-weight: 500;
display: inline-block;
width: 120px;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
color: #713afd;
}

.navMenu .dot {
width: 6px;
height: 6px;
background: #403afd;
border-radius: 50%;
opacity: 0;
-webkit-transform: translateX(30px);
transform: translateX(30px);
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
-webkit-transform: translateX(30px);
transform: translateX(45px);
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
-webkit-transform: translateX(45px);
transform: translateX(160px);
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
-webkit-transform: translateX(160px);
transform: translateX(295px);
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
-webkit-transform: translateX(295px);
transform: translateX(395px);
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
opacity: 1;
}



@import url('https://fonts.googleapis.com/css?family=Roboto');

.container{
  padding: 50px;
  display: block;
}


.card{
  /* width: 300px; */
  /* height: 420px; */
  /* position à 50% du haut de l'ecran */
  position: absolute;
  top: 9%;
  left: 3.05%;
  width: 20%;
  height: 87%;
  background-color: #1E2B32;
  border-radius: 10px 10px;
  z-index: 100;
  color: #FFFFFF;
  overflow: auto;
}

.header{
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
  background-color: #2A3942;
}

h3{
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  margin-left: 1rem;
}

.iconM{
  font-size: 18px;
  margin-left: 170px;
  color: #2f89fc;
}

.icon{
  margin-right: 8px;
}

.body li{
  transition: 1s all;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 15px;
  margin-left: -40px;
  margin-top: 0px;
  color: #fff;
  list-style: none;
  display: block;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}

li:hover{
  transition: 1s all;
  color: #2f89fc;
  background-color: rgba(42, 56, 65, 0.82);
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  cursor: pointer;
}

.body > li{
  float: left;
}

.body li ul{
  background: #1E2B32;
  margin-left: 280px;
  margin-top: -38px;
  /* display: none; */
  position: absolute;
  border-top-right-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
}

.body li:hover > ul{
  display: block;
  cursor: pointer;
}



input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}


.accordion-wrapper {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  width: 90%;
  margin:0 auto;
position: absolute;
left: 5%;
overflow: auto;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;

}
.accordion {
  width: 100%;
  color: white;
  overflow: hidden;
  margin-bottom: 16px;
border-radius: 15px;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
.accordion:last-child{
  margin-bottom: 0;
  -webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
.accordion-label {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 16px;
  background: rgba(4,57,94,.8);
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
.accordion-label:hover {
  background: rgba(4,57,94,1);
  -webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
.accordion-label::after {
  content: "\276F";
  width: 16px;
  height: 16px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accordion-content {
  max-height: 0;
  padding: 0 16px;
  color: rgba(4,57,94,1);
  background: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
display: none;
}
.accordion-content p{
  margin: 0;
  color: rgba(4,57,94,.7);
  font-size: 18px;
  -webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
input:checked + .accordion-label {
  background: rgba(4,57,94,1);
  -webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
input:checked + .accordion-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
input:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 16px;
display: block;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}











ul.ks-cboxtags {
  list-style: none;
  padding: 20px;
position: relative;
left: 5%;
}
ul.ks-cboxtags li{
display: inline;
}
ul.ks-cboxtags li label{
  display: inline-block;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid rgba(139, 139, 139, .3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
}

ul.ks-cboxtags li label {
  padding: 8px 12px;
  cursor: pointer;
}

ul.ks-cboxtags li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
  border: 2px solid #1bdbf8;
  background-color: #12bbd4;
  color: #fff;
  transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
position: absolute;
opacity: 0;
}

/* div class full_screen_background_map se prend toute la largeur de l'ecran et 60% de la hauteur et est noir*/
.full_screen_background_map {
position: absolute;
top: 8%;
width: 100%;
height: 90%;
z-index: 1;
/* background-color: black; */
}

#map_5c3862ba13c7e615013e758f79b1f9bb {
width: 95%;
height: 100%;
/* radius corner */
border-radius: 10px;
/* centré */
margin: 0 auto;
}

.categorie
{
  background-color: rgba(4, 57, 94, 0.119);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
}

/* Style pour une checkbox */
input[type="checkbox"] {
position: relative;
display: inline-block;
width: 20px;
height: 20px;
background-color: #f1f1f1;
border-radius: 4px;
transition: all 0.3s ease-in-out;
z-index: 2000;
}

/* Style pour la coche */
input[type="checkbox"]:checked::before {
content: "\2714";
display: block;
position: absolute;
color: white;
font-size: 14px;
top: 3px;
left: 4px;
z-index: 2000;
}


input[type="checkbox"]:checked + label:before {
background-color: #000;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}




























.loader {
  position: relative;
  left: 45.0%;
  top: 40.0%;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #ff0000;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  }

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  }

.collapsible {
  background-color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  padding-left: 80px;
  font-weight: 900;
  color: #555;
  position: relative;
  }

.collapsible-icon {
  font-size: 40px !important;
  position: absolute;
  left: 6%;
  float: left;
  bottom: 20%;
  }

.collapsible-text{
    font-size: 20px;
    top: 3%;
    position: relative;
  }

.subcollapsibles {
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  }

.active, .collapsible:hover {
  background-color: #555;
  color:white;
  }

.content {
  padding: 0 18px;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  }
  
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
  position: relative;
  top: 18%;
  }

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  }



.container {
      position: absolute;
      width: 200px;
      height: 200px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      /* mettre au premier plan */
      z-index: 10000;
      display: none;
    }
    
    .item {
      width: 100px;
      height: 100px;
      position: absolute;
    }
    
    .item-1 {
      background-color: #FA5667;
      top: 0;
      left: 0;
      z-index: 1;
      animation: item-1_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
    }
    
    .item-2 {
      background-color: #7A45E5;
      top: 0;
      right: 0;
      animation: item-2_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
    }
    
    .item-3 {
      background-color: #1B91F7;
      bottom: 0;
      right: 0;
      z-index: 1;
      animation: item-3_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
    }
    
    .item-4 {
      background-color: #FAC24C;
      bottom: 0;
      left: 0;
      animation: item-4_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
    }
    
    @keyframes item-1_move {
      0%, 100% {transform: translate(0, 0)} 
      25% {transform: translate(0, 100px)} 
      50% {transform: translate(100px, 100px)} 
      75% {transform: translate(100px, 0)} 
    }
    
    @keyframes item-2_move {
      0%, 100% {transform: translate(0, 0)} 
      25% {transform: translate(-100px, 0)} 
      50% {transform: translate(-100px, 100px)} 
      75% {transform: translate(0, 100px)} 
    }
    
    @keyframes item-3_move {
      0%, 100% {transform: translate(0, 0)} 
      25% {transform: translate(0, -100px)} 
      50% {transform: translate(-100px, -100px)} 
      75% {transform: translate(-100px, 0)} 
    }
    
    @keyframes item-4_move {
      0%, 100% {transform: translate(0, 0)} 
      25% {transform: translate(100px, 0)} 
      50% {transform: translate(100px, -100px)} 
      75% {transform: translate(0, -100px)} 
    }